extends layout 

block content 
    h1 LMLA -Liga Mundial de Lanzamiento de Aceitunas
    img(src="https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2018/07/28/15327753396373.jpg" alt="campeon mundial")
