extends layout

block content
    h1 Editar Aceituna
    if error 
        h2=error
    form(action=`/aceitunas/${aceituna.id}`, method='POST')
        label(for='tipo')
        input(type="text", name="tipo", id="tipo")
        label(for="peso")
        input(type="text", name="peso", id="peso", value= aceituna.peso)
        input(type="submit", value="guardar")
    