extends ../layout

block content
    h1 Tipo de aceitunas
    if error 
        h2 No se ha podido encontrar los datos
    else if aceitunas
        ul
            each aceituna in aceitunas
                li= aceituna.nombre +', '+ aceituna.peso